/* ESERCIZIO 1 */
.ex-1-square{
    transition: 3s;
}

.ex-1-square:hover{
    background-color: red;
}

/* ESERCIZIO 2 */
.ex-2-square{
    transition: width 3s ease-in-out;
}

.ex-2-square:active{
    width: 100%;
}

/* ESERCIZIO 3 */
.ex-3-square {
    transition: 2s ease-in-out;
}
.ex-3-square:hover {
    border-radius: 100%;
}

/* ESERCIZIO 4 */
.ex-4-square {
    transition: opacity 3s linear;
}
.ex-4-square:hover {
    opacity: 0;
}

/* ESERCIZIO 5 */
.ex-5-square {
    transition: 3s;
}
.ex-5-square:hover {
    transform: scale(2);
}
.ex-5-square:active {
    transform: scale(0.5);
}

/* ESERCIZIO 6 */
.ex-6-img:hover {
    filter: grayscale(1);
}

/* ESERCIZIO 7 */
.ex-7-img {
    transition: 5s ease-in-out;
}
.ex-7-img:hover {
    filter: grayscale(.6) sepia(.5);
}

/* ESERCIZIO 8 */
.ex-8-img {
    transition: 2s;
}
.ex-8-img:hover {
    filter: blur(2px) sepia(1);
    border-radius: 20px;
}

/* ESERCIZIO 9 */
.ex-9-img {
    transition: 3s ease-in-out;
}
.ex-9-img:hover {
    filter: blur(2px) sepia(1); 
    border-radius: 20px;
    transform: scale(1.5);
}


/* ESERCIZIO 10 */
.ex-10-icon {
    animation: spin10 1s linear infinite;
}
@keyframes spin10 {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);    
    }

}

/* ESERCIZIO 11 */
.ex-11-icon:hover {
    animation: spin11 2s linear;
    animation-iteration-count: infinite;
}
@keyframes spin11 {
    0% {
        transform: rotate(0deg);
    }
    90% {
        transform: rotate(315deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* ESERCIZIO 12 */
.ex-12-button:hover .ex-12-top-white {
    animation: moveTop12 linear;
}
@keyframes moveTop12 {
    0% {
        top: -10px;
        left: 10%;
    }
    50% {
        left: calc(100% - 60px);
    }
    100% {
        left: 10%;
    }
}
.ex-12-button:hover .ex-12-bottom-white {
    animation: moveBottom12 2s linear;
}
@keyframes moveBottom12 {
    0% {
        right: 20%;
    }
    50% {
        right: calc(100% - 60px);
    }
    100% {
        right: 20%;
    }
}


/* ESERCIZIO 13 */
.ex-13-button:hover .ex-13-top-white {
    animation: moveTopWhite13 2s linear;
}
@keyframes moveTopWhite13 {
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: calc(100% - 30px);
        top: -10px;
    }
    45% {
        left: calc(100% - 30px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}
.ex-13-button:hover .ex-13-bottom-white {
    animation: moveBottomWhite13 2s linear;
}
@keyframes moveBottomWhite13 {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}
